.feeds-tree {
  .ant-tree-node-content-wrapper {
    display: flex;
    overflow: hidden;
  }
  .ant-tree-title {
    flex: 1;
    overflow: hidden;
  }
}
.post-box {
  & * {
    max-width: 100%;
  }
}